<div> <%= link_to "Refresh articles", fetch_articles_path %> </div>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Updated At</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td> <%= article.name %> </td>   
      <td> <%= article.url %> </td>   
      <td> <%= article.updated_at %> </td>   
    </tr>
  <% end %>
</table>