<div> <%= link_to "Refresh articles", fetch_articles_path %> </div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Updated At</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td> <%= link_to article.name, article.url %> </td>   
      <td> <%= article.updated_at.in_time_zone("Pacific Time (US & Canada)").to_s(:long_ordinal) %> </td>   
    </tr>
  <% end %>
</table>