<div class="jumbotron">
  <h2>Ancient Chinese Secret: "To stop failing, do more things"</h2>
  <p class="lead">Clicking this button will blast a random article to all Backerkatz</p>
  <p><%= link_to "Blast Emails", email_blasts_path, class: "btn btn-lg btn-success", role: "button", method: :post %></p>
</div>