<p> Hi Backerkat! </p>

<p> You have a new article.  Lucky you. </p>


<h1> <%= @article.name %> </h1>
<h3> <%= @article.url %> </h3>
<p> <%= @article.body %> </p>


<h2> READ IT OR ELSE!!!!!!!! </h2>

Don't forget to update the KEYWORDS too!